.container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: calc(min(90%, 1800px));
  height: 800px;
  margin: 0 auto;
  background-color: black;
  border: 1px solid black;
}

.sortItem {
  width: 1.8px;
  background-color: white;
}
