*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body,
html {
  height: 100%;
  scroll-behavior: smooth;
}

img {
  display: block;
}

#root {
  height: 100%;
  width: 100%;
}

code {
  color: red !important;
  background-color: lightgray;
}
